html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* vars */
  --primary-color: #3fb8af;
  --black-color: #252525;
  --white-color: #efefef;
  --white-color-ligth: #fafafa;
  --white-color-dark: #cacaca;
}
body {
  color: var(--black-color);
  background-color: var(--white-color-ligth);
  padding: 1rem 2rem;
  width: 100vw;
  box-sizing: border-box;
  min-height: 100vh;
}
h1,
h2 {
  font-weight: 400;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
}
strong {
  font-weight: 500;
}
